<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cafe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
</form>
<br/>
<form th:action="@{/manager/lists}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go to Manager Area</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/home/bill}" th:object="${productsInOrder}" method="post">
                <h2>Product List</h2>
                <div style="overflow: auto;
                            height: 501px;">
                    <table class="table">
                        <tr th:each="prod : ${productsInOrder}" >
                            <td th:text="${prod.name}">Name</td>
                            <td th:text="${prod.price}">Price</td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-md btn-warning btn-block" type="Submit">Get bill</button>
            </form>
            <form th:action="@{/home/busy}"  method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Add Another products</button>
            </form>


        </div>
    </div>
</div>

</body>
</html>
